/*funcionarios do bagui*/
.funcionario{
  width: 100%;
    background: linear-gradient(333deg, rgba(252,252,252,1) 0%, rgba(46,54,48,1) 32%, rgba(16,99,15,1) 73%);
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 600px 200px;
    grid-template-rows: 500px 400px;
  }
  img{
    width: 100%;
  }
  .column{
    margin-top: 30px;
  }
  .column{
    --c: #0bea95; 
    --b: 10px;   
    --g: 5px;    
  padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
  }
  .column:hover{
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  