.modal:nth-of-type(even) {
  z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
  z-index: 1051 !important;
}

.modal-body {
  border: ;
  display: block;
  background: linear-gradient(143deg, rgb(94, 94, 94) 19%, rgba(9, 121, 12, 1) 52%, rgb(31, 190, 6) 76%, rgba(255, 255, 255, 1) 92%);
  border-color: chartreuse;
}

.modal-body img {
  border-radius: 300px;
  width: 60%;
  margin-left: 120px;
}

#container2 {
  width: 50%;
  height: 100%;
  border: solid 2px;
  border-color: rgb(74, 145, 4);
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #5754542f;
  padding: 15px;
  width: 80%;
  /* Could be more or less, depending on screen size */
  border-radius: 5px;
  border-width: 5px;
  /*Estiliza a sua largura*/
  border-style: solid;
  /* Estiliza seu estilo*/
  border-color: rgb(114, 226, 2);/ *Estiliza sua cor*/ border-top: 5px solid rgb(114, 226, 2);
  box-shadow: 5px 6px 10px rgb(114, 226, 2);
}

/* The Close Button */
.close {
  color: rgb(0, 0, 0);
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover {
  color: rgb(134, 2, 2);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #00000000;
  color: white;
}