*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background: #262626;

}

.map8ox{
    position: relative;
    width: 600px;
    height: 500px;
    background: #fff;
    
}

.map8ox iframe{
    width: 600px;
    height: 600px;
}
